# Production host credentials
server 'production-host.domain',
       roles: %w(web app db),
       primary: true,
       user: 'username',
       # Do not store password for production host in VCS!
       password: fetch(:password)

set :keep_releases, 10
set :puma_threads, [16, 16]
set :puma_workers, 8
