# Production host credentials
server 'production-host.domain',
       roles: %w{web app db},
       primary: true,
       ssh_options: {
           user: 'username',
           auth_methods: %w(publickey password),
           password: fetch(:password)
       }

set :keep_releases, 10
set :env, { worker_count: 8 }