# Testing host credentials
server 'testing-host.domain',
       roles: %w(web app db),
       primary: true,
       user: 'username',
       password: 'password'

set :puma_threads, [4, 4]
set :puma_workers, 2
